@page "/genders/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject IShowMessages showMessages

<h3>Create Gender</h3>

<GenderForm OnValidSubmit="Create" Gender="Gender" />

@code {
    private Gender Gender = new Gender();

    private async Task Create()
    {
        var httpResponse = await repository.Post("api/gender", Gender);
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            navigationManager.NavigateTo("/genders");
        }
    }
}
