@page "/genders/create"
@inject IRepository repository
@inject NavigationManager navigationManager
<h3>Create Gender</h3>

<GenderForm OnValidSubmit="Create" Gender="Gender" />

@code {
    private Gender Gender = new Gender();

    private async Task Create()
    {
        var httpResponse = await repository.Post("api/gender", Gender);
        if (httpResponse.Error)
        {
            var body = await httpResponse.HttpResponseMessage.Content.ReadAsStringAsync();
            Console.WriteLine(body);
        }
        else
        {
            navigationManager.NavigateTo("/genders");
        }
    }
}
