@page "/genders/edit/{GenderId:int}"

<h3>Edit Gender</h3>

<GenderForm OnValidSubmit="Edit" Gender="Gender" />

@code {
    [Parameter]
    public int GenderId { get; set; }

    private Gender Gender;

    protected override void OnInitialized()
    {
        Gender = new Gender() { Id = GenderId, Name = "Comedia" };
    }

    private void Edit()
    {
        Console.WriteLine("Edit Gender");
    }
}
