@if (Films == null)
{
    <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" alt="Loading..." />
}
else if (Films.Count == 0)
{
    <div>
        No hay peliculas disponibles.
    </div>
}
else
{
    <input type="checkbox" @bind="Buttons"/>

    @foreach (var film in Films)
    {
        <FilmDetail Film="film" ShowButtons="Buttons" />
    }
}

@code{
    [Parameter]
    public List<Film> Films { get; set; }

    public bool Buttons { get; set; }
}