<div style="margin-right: 2%; margin-bottom: 10px; text-align:center;">
    <a>
        <img src="@Film.ImgURL" style="width:225px; height:300px;"/>
    </a>
    <p style="max-width:225px; height:44px; font-size:15px; font-weight:bold;">@Film.ShortTitle</p>
    <div>
        <a class="btn btn-info">Editar</a>
        <button type="button" class="btn btn-danger" 
                @onclick="@(()=>DeleteFilm.InvokeAsync(Film))">
            Delete
        </button>
    </div>
</div>

@code {
    [Parameter]
    public Film Film { get; set; }

    [Parameter]
    public bool ShowButtons { get; set; }

    [Parameter]
    public EventCallback<Film> DeleteFilm { get; set; }
}
