@inject IJSRuntime js

<input type="checkbox" @bind="Buttons" /> Mostrar opciones

<GenericList List="Films">
    <RecordView>
        <FilmDetail Film="context" ShowButtons="Buttons" DeleteFilm="DeleteFilm" />
    </RecordView>
</GenericList>

<ConfirmModal @ref="confirmModal" onConfirm="DeleteFilmConfirm" onCancel="OnCancelConfirm">
    <div>¿Desea borrar la película?</div>
</ConfirmModal>

@code{

    [Parameter]
    public List<Film> Films { get; set; }

    public bool Buttons { get; set; }

    ConfirmModal confirmModal;
    Film filmToDelete;

    void DeleteFilm(Film film)
    {
        confirmModal.Show();
        filmToDelete = film;
        //var confirm = await js.Confirm($"desea borrar la pelicula {film.Title}?");
        //if (confirm)
        //{
        //    Films.Remove(film);
        //    Console.WriteLine($"Eliminando la pelicula {film.Title}.");
        //}
    }

    void DeleteFilmConfirm()
    {
        Films.Remove(filmToDelete);
        OnCancelConfirm();
    }

    void OnCancelConfirm()
    {
        confirmModal.Hide();
        filmToDelete = null;
    }
}