@page "/people/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject IShowMessages showMessages 

<h3>Create Person</h3>

<PersonForm Person="Person" OnValidSubmit="Create" />

@code {
    private Person Person = new Person();

    private async Task Create()
    {
        var httpResponse = await repository.Post("api/person", Person);
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            navigationManager.NavigateTo("/people");
        }
    }
}
 