@page "/people/edit/{PersonId:int}"

<h3>EditPerson</h3>

<PersonForm Person="Person" OnValidSubmit="Edit" />

@code {
    [Parameter]
    public int PersonId { get; set; }

    private Person Person = new Person();

    protected override void OnInitialized()
    {
        Person.Id = PersonId;
        Person.Name = "Ariel";
        Person.Birthdate = DateTime.Today;
    }

    void Edit()
    {

    }
}
